* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.marginleft {
  margin-left: 70px;
}

.menu {
  margin-left: 150px;
}

.container{
	display: flex;
}

.sidebar{
  height: 1000px;
  width: 350px;
  position: relative;
}

.sidebar-image{
	position: absolute;
  width: 350px;
  height: 1000px;
  background-image: url("../images/cover.jpg");
  z-index: -500;
  background-repeat: no-repeat;
}

.sidebar header {
  margin-top: 50px;
}

.sidebar header h1 {
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
}

.sidebar header p{
	font-size: 14px;
}

.sidebar header hr{
  margin-top: 35px;
  margin-bottom: 35px;
  width: 18%;
  margin-left: 70px;
  border: 1px solid #FF9900;
}

.sidebar nav a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #FF9900;
}

.sidebar nav ul {
  list-style-type: none;
  background-color: #202020;
  position: absolute;
  display: none;
  transform: translate(134%, -51%);
  z-index: 5;
}

.sidebar nav a:hover + ul {
  display: block;
}

.sidebar nav ul:hover {
  display: block;
}

.sidebar nav ul li  {
  text-decoration:none;
  border: 1px solid white;
}

.sidebar nav ul li a {
  color: white;
  display: inline-block;
  margin-left: 15px;
  margin-right: 60px;
}

.sidebar nav a:hover + ul {
  display: block;
}

.sidebar nav ul:hover {
  display: block;
}

.sidebar nav ul li a:hover {
  color: #FF9900;
}

.content{
	flex-direction: column;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7.5px;
}

.picture{
  float: left;
  align-content: center;
  overflow: hidden;
  position: relative;
}

.picturesize{
	width: 100%;
  height: 248px;
}

.corner{
  position: absolute;
  width: 10%;
  bottom: 0;
  right: 0;
}

.image_text{
	position: absolute;
}

.image_text p{
  color: #FF9900;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 12px;
}

.image_text h3{
  color: white;
  margin-left: 30px;
  font-size: 20px;
}

.pagination{
	display: flex;
}

.pagination p{
	text-align: right
}

.opacity {
  position: absolute;
  width: 100%;
  height: 1000px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -400;
}

.opacitygallery {
  width: 495px;
  height: 248px;
  background: rgb(0, 0, 0, 0.4) no-repeat;
  position: absolute;
}

.pagination{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.pagination p{
  margin-left: 15px;
  margin-right: 15px;
}

footer {
  background-color:#202020;
  height: 191px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer p {
  color: #5F5F5F;
}

footer ul {
  list-style-type: none;
  margin-top: 7%;
}

footer ul li {
  display: inline;
  font-size: 30px;
}

footer ul li a i {
  color: #5F5F5F;
  text-decoration:none;
  letter-spacing: 10px;
  cursor: pointer;
}

@font-face {
    font-family: fontlogo;
    src: url(../fonts/ArialNarrow.ttf);
}

.fonttitle{
	font-family: fontlogo, Arial;
}

@font-face {
  font-family: fonttitle;
  src: url(../fonts/ArialNarrow.ttf);
}
.fonttitle-bold {
  font-family: fonttitle, Arial;
  letter-spacing: 1px;
}

@font-face {
  font-family: menusubmenu;
  src: url(../fonts/ArialNarrow.ttf);
}
.fonttmenu {
  font-family: menusubmenu, Arial;
  font-weight: bold;
}

@font-face {
  font-family: ArialRounded;
  src: url(../fonts/round.ttf);
}
.fontgallery {
  font-family: ArialRounded, Arial;
  letter-spacing: 1px;
}

@font-face {
  font-family: Arial-Black;
  src: url(../fonts/ariblk.ttf);
}
.fontgallerytitle {
  font-family: Arial-Black, Arial;
  letter-spacing: 1px;
}
